<div *ngIf="product">

  <h2>{{ product.title | uppercase }}</h2>
  <h3>Описание: </h3>
  <div>{{product.text}}</div>
  <br>
  <img [src]="imgPath + product.img">



  <div>
    <h3>Отзывы</h3>
    <ul>
      <li *ngFor="let review of reviews">
        <div>Оценка: {{review.rate}},</div>
        <div>Текст отзыва:<br> {{review.text}}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="!userService.isAuthenticated()">
    <h4>Чтобы оставлять отзывы войдите или зарегистрируйтесь.</h4>
  </div>

  <div *ngIf="userService.isAuthenticated()">
    <h4>Добавьте свой отзыв</h4>

  <div class="form-group">
    <label>Rate:
    <input class="form-control" [(ngModel)]="review.rate" #rate="ngModel" required pattern="[1-5]"/>
    </label>
    <div [hidden]="rate.valid || rate.untouched" class="alert alert-danger">
      Неверная оценка. Оцените товар по шкале от 1 до 5.
    </div>
  </div>

  <div class="form-group">
    <label>Review:
      <textarea class="form-control" [(ngModel)]=review.text #text="ngModel" required> </textarea>
    </label>
    <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
      Поле не может быть пустым
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-default" [disabled]="rate.invalid || text.invalid"
            (click)="addReview(rate.value, text.value);">
      Add
    </button>
  </div>
  </div>

</div>
