<div *ngIf="product">

  <h2>{{ product.title | uppercase }}</h2>
  <h3>Описание: </h3>
  <div>{{product.text}}</div>
  <br>
  <img [src]="imgPath + product.img">

  <div>
    <h3>Отзывы</h3>
    <ul>
      <li *ngFor="let review of reviews">
        <div>Оценка: {{review.rate}},</div>
        <div>Текст отзыва:<br> {{review.text}}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="!userService.isAuthenticated()">
    <h4>Чтобы оставлять отзывы войдите или зарегистрируйтесь.</h4>
  </div>

  <div *ngIf="userService.isAuthenticated()">
    <h4>Добавьте свой отзыв</h4>

    <form class="form">

    <mat-form-field class="full-width">
      <input matInput placeholder="Ваша оценка от 1 до 5" [(ngModel)]="review.rate" #rate="ngModel" name="rate" required pattern="[1-5]">
      <mat-error *ngIf="!rate.valid && !rate.untouched">
        Неверная оценка. Оцените товар по шкале от 1 до 5
      </mat-error>
    </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Текст отзыва" [(ngModel)]="review.text" #text="ngModel" name="text" required></textarea>
        <mat-error *ngIf="!text.valid && !text.untouched">
          Поле не может быть пустым.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" [disabled]="rate.invalid || text.invalid"
              (click)="addReview(+rate.value, text.value);">Добавить</button>

    </form>

  </div>
</div>
