<form class="form">

  <mat-form-field class="full-width">
    <input matInput placeholder="E-mail" [(ngModel)]="user.email" #email="ngModel" name="email " required email>
    <mat-error *ngIf="!email.valid && !email.untouched">
      Введите корректный e-mail
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Пароль" [(ngModel)]="user.password" #password="ngModel" name="password " required>
    <mat-error *ngIf="!password.valid && !password.untouched">
      Пароль <strong>обязателен</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent" [disabled]="email.invalid || password.invalid"
          (click)="loginUser(email.value, password.value); email.value=password.value=''">Войти</button>

  <div *ngIf="errorMessage">
  <h3>Пользователя с такими e-mail и паролем не существует</h3>
  </div>

</form>
