<div>
  <div class="form-group">
  <label>E-mail:
  <input class="form-control" [(ngModel)]="user.email" #email="ngModel" required email/>
  </label>
    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
      Incorrect email
    </div>
  </div>

  <div class="form-group">
  <label>Password:
  <input class="form-control" type="password" [(ngModel)]="user.password" #password="ngModel" required/>
  </label>
    <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
      Incorrect password
    </div>
  </div>

  <div class="form-group">
  <button class="btn btn-default" [disabled]="email.invalid || password.invalid" (click)="loginUser(email.value, password.value); email.value=password.value=''">
    Login
  </button>
  </div>

  <div *ngIf="errorMessage">
    <h3>e-mail or password incorrect</h3>
  </div>



</div>
