<div class="contain">

<header>
  <h1>Каталог товаров</h1>
  <a *ngIf="!userService.isAuthenticated()" mat-button color="accent" routerLink="/signin">Войти</a>

  <a *ngIf="!userService.isAuthenticated()" mat-button color="accent" routerLink="/register">Зарегистрироваться</a>

  <a *ngIf="userService.isAuthenticated()" mat-button color="accent" (click)="userService.logout()">Выйти</a>

</header>

<main>

  <article>
    <router-outlet></router-outlet>
  </article>

  <nav>
    <h2>Каталог товаров</h2>

    <a mat-raised-button color="accent" routerLink="/dashboard">Топ товаров</a>

    <a mat-raised-button color="accent" routerLink="/products">Все товары</a>
  </nav>

</main>

<footer>
  <p>Footer</p>
</footer>

</div>
