<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">

      <form class="form-inline">
      <button
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="!userService.isAuthenticated()"
        routerLink="/signin">
        Log In
      </button>


      <button
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="userService.isAuthenticated()"
        (click)="userService.logout()">
        Log Out
      </button>

      <button
        class="btn btn-primary my-2 my-sm-0"
        *ngIf="!userService.isAuthenticated()"
        routerLink="/register">
        Register
      </button>

      </form>
    </div>

</nav>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">

    <form class="form-inline">
      <button class="btn btn-primary my-2 my-sm-0 mr-2"
              routerLink="/dashboard" type="button">
        Dashboard
      </button>

      <button class="btn btn-primary my-2 my-sm-0 mr-2"
              routerLink="/products" type="button">
        Products
      </button>

    </form>
  </div>
</nav>

<main class="container">
<router-outlet></router-outlet>
</main>
